# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.RomanMath.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Sobol\Desktop\RomanMath (002)\.idea\.idea.RomanMath\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
